.bg {
  background-color: rgba(255, 253, 253, 0.8);
  background-image: url('../image/backgnsc.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
}
.bg_an {
  background-color: rgba(255, 253, 253, 0.8);
  background-image: url('../image/backglogin.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
}

table tr th,
table tr td {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(202, 235, 255, 0.5);
  
}
.container1{
  max-width: 1200px;
  margin:auto;
  display: flex;
}
.div1{
  
  width: 79.16%;
  margin-left: 15.625%;
  text-align: center;
  justify-content: center;

}
.textannouncement{
  text-align:center;
  font-size: 20px;
  margin-top: 2.5%;
  margin-left:15.625%;
}
.back{
  width:12.5%;
  margin-left:15.625%;
}

.BackButton{
    background-color: white;
    color: #0a1a70;
    text-align: center;
    margin: 0px;
    padding: 15px;
    border-radius: 18px;
    width: 12.5%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
}
.tablestyle{
  margin: auto;
  border-collapse: collapse;
  table-layout: auto;

}
.paper{
  padding:1.667%;
  margin-top:4.2%;
  width:109%;
  height: 66.667;

}

.paper1{
  padding:1.667%;
  margin-top:4.2%;
  width:100%;
  height: 90%;
}
@media only screen and (max-width:400) {
  .bg_an {
    background-color: rgba(255, 253, 253, 0.8);
    background-image: url('../image/backglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
  }
  
  .container1{
    max-width: 400px;
    margin:auto;
    display: flex;
  }
  .div1{
  
    width: 79.16%;
    margin-left: 15.625%;
    text-align: center;
    justify-content: center;
  
  }
  .textannouncement{
    text-align:center;
    font-size: 20px;
    margin-top: 2.5%;
    margin-left:15.625%;
  }
  .back{
    width:12.5%;
    margin-left:15.625%;
  }
  .BackButton{
    background-color: white;
    color: #0a1a70;
    text-align: center;
    margin: 0px;
    padding: 15px;
    border-radius: 18px;
    width: 12.5%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
}
  .tablestyle{
    margin: auto;
    table-layout: auto;
  
  }
  .paper{
    padding:1.667%;
    margin-left:6.667%;
    margin-top:4.2%;
    width:109%;
    height: 66.667;
  
  }
}
@media only screen and (min-width:400) {
  .bg_an {
    background-color: rgba(255, 253, 253, 0.8);
    background-image: url('../image/backglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
  }
  
  .container1{
    min-width: 400px;
    margin:auto;
    display: flex;
  }
  .div1{
  
    width: 79.16%;
    margin-left: 15.625%;
    text-align: center;
    justify-content: center;
  
  }
  .textannouncement{
    text-align:center;
    font-size: 20px;
    margin-top: 2.5%;
    margin-left:15.625%;
  }
  .back{
    width:12.5%;
    margin-left:15.625%;
  }
  .BackButton{
    background-color: white;
    color: #0a1a70;
    text-align: center;
    margin: 0px;
    padding: 15px;
    border-radius: 18px;
    width: 12.5%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
}
  .tablestyle{
    margin: auto;
    table-layout: auto;
  
  }
  .paper{
    padding:1.667%;
    margin-left:6.667%;
    margin-top:4.2%;
    width:109%;
    height: 66.667;
  
  }
}

@media only screen and (min-width:500) {
  .bg_an {
    background-color: rgba(255, 253, 253, 0.8);
    background-image: url('../image/backglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
  }
  
  .container1{
    min-width: 500px;
    margin:auto;
    display: flex;
  }
  .div1{
  
    width: 79.16%;
    margin-left: 15.625%;
    text-align: center;
    justify-content: center;
  
  }
  .textannouncement{
    text-align:center;
    font-size: 20px;
    margin-top: 2.5%;
    margin-left:15.625%;
  }
  .back{
    width:12.5%;
    margin-left:15.625%;
  }
  .BackButton{
    background-color: white;
    color: #0a1a70;
    text-align: center;
    margin: 0px;
    padding: 15px;
    border-radius: 18px;
    width: 12.5%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
}
  .tablestyle{
    margin: auto;
    table-layout: auto;
  
  }
  .paper{
    padding:1.667%;
    margin-left:6.667%;
    margin-top:4.2%;
    width:109%;
    height: 66.667;
  
  }
}
@media only screen and (min-width:600) {
  .bg_an {
    background-color: rgba(255, 253, 253, 0.8);
    background-image: url('../image/backglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
  }
  
  .container1{
    min-width: 600px;
    margin:auto;
    display: flex;
  }
  .div1{
  
    width: 79.16%;
    margin-left: 15.625%;
    text-align: center;
    justify-content: center;
  
  }
  .textannouncement{
    text-align:center;
    font-size: 20px;
    margin-top: 2.5%;
    margin-left:15.625%;
  }
  .back{
    width:12.5%;
    margin-left:15.625%;
  }
  .BackButton{
    background-color: white;
    color: #0a1a70;
    text-align: center;
    margin: 0px;
    padding: 15px;
    border-radius: 18px;
    width: 12.5%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
}
  .tablestyle{
    margin: auto;
    table-layout: auto;
  
  }
  .paper{
    padding:1.667%;
    margin-left:6.667%;
    margin-top:4.2%;
    width:109%;
    height: 66.667;
  
  }
}

@media only screen and (min-width:768) {
  .bg_an {
    background-color: rgba(255, 253, 253, 0.8);
    background-image: url('../image/backglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
  }
  
  .container1{
    min-width: 768px;
    margin:auto;
    display: flex;
  }
  .div1{
  
    width: 79.16%;
    margin-left: 15.625%;
    text-align: center;
    justify-content: center;
  
  }
  .textannouncement{
    text-align:center;
    font-size: 20px;
    margin-top: 2.5%;
    margin-left:15.625%;
  }
  .back{
    width:12.5%;
    margin-left:15.625%;
  }
  .BackButton{
    background-color: white;
    color: #0a1a70;
    text-align: center;
    margin: 0px;
    padding: 15px;
    border-radius: 18px;
    width: 12.5%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
}
  .tablestyle{
    margin: auto;
    table-layout: auto;
  
  }
  .paper{
    padding:1.667%;
    margin-left:6.667%;
    margin-top:4.2%;
    width:109%;
    height: 66.667;
  
  }
}
@media only screen and (min-width:992) {
  .bg_an {
    background-color: rgba(255, 253, 253, 0.8);
    background-image: url('../image/backglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
  }
  
  .container1{
    min-width: 992px;
    margin: auto;
    display: flex;
  }
  .div1{
  
    width: 79.16%;
    margin-left: 15.625%;
    text-align: center;
    justify-content: center;
  
  }
  .textannouncement{
    text-align:center;
    font-size: 20px;
    margin-top: 2.5%;
    margin-left:15.625%;
  }
  .back{
    width:12.5%;
    margin-left:15.625%;
  }
  .BackButton{
    background-color: white;
    color: #0a1a70;
    text-align: center;
    margin: 0px;
    padding: 15px;
    border-radius: 18px;
    width: 12.5%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
}
  .tablestyle{
    margin: auto;
    table-layout: auto;
  
  }
  .paper{
    padding:1.667%;
    margin-left:6.667%;
    margin-top:4.2%;
    width:109%;
    height: 66.667;
  
  }
}
@media only screen and (min-width:1200) {
  .bg_an {
    background-color: rgba(255, 253, 253, 0.8);
    background-image: url('../image/backglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
  }
  
  .container1{
    min-width: 1200px;
    margin: auto;
    display: flex;
  }
  .div1{
  
    width: 79.16%;
    margin-left: 15.625%;
    text-align: center;
    justify-content: center;
  
  }
  .textannouncement{
    text-align:center;
    font-size: 20px;
    margin-top: 2.5%;
    margin-left:15.625%;
  }
  .back{
    width:12.5%;
    margin-left:15.625%;
  }
  .BackButton{
    background-color: white;
    color: #0a1a70;
    text-align: center;
    margin: 0px;
    padding: 15px;
    border-radius: 18px;
    width: 12.5%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
}
  .tablestyle{
    margin: auto;
    table-layout: auto;
  
  }.paper{
    padding:1.667%;
    margin-left:6.667%;
    margin-top:4.2%;
    width:109%;
    height: 66.667;
  
  }}