.bg_an {
    background-color: #FFFDFD;
    opacity: 80%;
  }
  
  table {
    margin: auto;
    table-layout: auto;
    background-color: #FFFDFD;
  }
  
  table tr th,
  table tr td {
    border: 1px solid black;
    padding: 10px;
    background-color: #caebff;
  }