body{
  background-image: url('../image/bglogin.jpg');
  background-size: cover;
  background-attachment: fixed;

}


.bg {

  background-image: url('../image/backgnsc.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  
}

  

