.body{
  background-image: url('../image/backglogin.png');
  background-size: cover;
  background-attachment: fixed;
 

}


.bg {

  background-image: url('../image/backgnsc.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  
}
.certificatepic{
  max-width: 40%;
  margin-top:5%;
  margin-left:30%;
    
}
.buttomdownload{
  width:15%;
  height: 5%;
  margin-left:80%;
  margin-top:-5%;
}
  

