html, body {
    height: 105%;
    margin: 0%;
  }
  
  body {
  
    background-image: url('../image/backgnsc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
  }
